.dark{
    background-color: rgb(40, 40, 40);
    color: white;
}

body{
    background-color: rgb(40, 40, 40);
}

:root{
    --blue : light-blue;
}

.search input{
    background-color: rgb(40, 40, 40);
    color: wheat;
}

.sidebar{
    background-color: rgb(40,40,40);
}